.back {
  background-image: url("/public/nerys.jpg");
  background-size: cover;
  height: 100vh;
}

.background-color {
  background-color: #212529;
  text-align: left;
  padding-left: 0px;
  width: 100%;
}

.artcile-bg {
  height: 40vh;
}

.article-title {
  color: #fc9076;
  padding: 50px;
  padding-top: 200px;
  padding-left: 50px;
}

.title {
  color: white;

}




a.csm-link {
    color: white;
}
